@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(rgba(20, 20, 71, 0.3), rgba(59, 16, 16, 0.3)),url(../img/erik-mclean-LSPUdV6IWsY-unsplash.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Comic Neue', cursive;
    color: #fff;
    text-shadow: 0px 0px 15px #000000;
}

.pollo__img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    object-position: center;
    position: fixed;
    bottom: 0;
    left: 100px;
    animation-name: aparecerPollo;
    animation-duration: 3s;
}

/*CONTIENE AL FORMULARIO Y SECCIÓN IMAGENES*/
.div__container{
    display: flex;
    justify-content: space-between;
    
    width: 90%;
    margin: auto;
    height: 100VH;
}
/*ESTILOS FORMULARIO*/
.hero__form{
    
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 5vh 2%;
    justify-content: start;
}

.hero__form h1{
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 2vh;
}
.hero__form h4{
    margin-bottom: 2vh;
}
.hero__form input{
    display: inline-block;
    width: 90%;
    height: 40px;
    border-radius: 15px;
    border: none;
    margin-bottom: 2vh;
    outline: none;
    text-align: center;
}

.hero__form button{
    display: inline-block;
    width: 90%;
    height: 40px;
    border-radius: 15px;
    border: none;
    margin-bottom: 2vh;
}
.hero__form div{
    overflow: hidden;
    width: 100%;
    height: 38vh;


}
.hero__form div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero__container{
    width: 70%;
    height: 100vh;
}

.hero__card{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    
}
/*Contenedor de imagenes, se elimina al hacer el request ajax*/
.container__cards{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/*imagenes desplegadas*/
.img, .hero__img img{
    width: 240px;
    height: 300px;
    object-position: center;
    object-fit: cover;
    border-radius: 10px;
    border:8px solid gold;
    box-shadow: 5px 5px 15px #00000080;
}

#chartContainer{
    
    width: 100%;
    height: 50vh;
    
    overflow: hidden;
    
}

.hero__info{
    font-size: 1rem;
    padding: 3vh 4%;
}
.hero__caract{
    margin: 0;
    padding: 0;
    text-align: left;
    font-weight: 700;
}
.hero__caract span{
    font-weight: 300;
}
.hero__img{
    margin-left: 3%;
}
#soloNumeros{
    text-align: center;
    color: white;
    
}
#resetear {
    background-color: #fff;
    padding: 10px 20px 5px;
    position: fixed;
    top: -10px;
    left: 90%;
    border-radius: 5px;

}
#superman{
    width: 300px;
    height: 300px;
    object-fit: cover;
    position: fixed;
    animation-name: supermanVolando;
    animation-duration: 2s;
    z-index: 2;
}
@keyframes aparecerPollo {
    0% {
        bottom: -280px;
    }
    60%{
        left: 97px;
    }
    62%{
        left: 100px;
    }
    64%{
        left: 97px;
    }
    66%{
        left: 100px;
    }
    68%{
        left: 97px;
    }
    70%{
        left: 100px;
    }
    72%{
        left: 97px;
    }
    74%{
        left: 100px;
    }
    76%{
        left: 97px;
    }
    78%{
        left: 100px;
    }
    80%{
        left: 95px;
    }
    82%{
        left: 100px;
    }
    84%{
        left: 95px;
    }
    86%{
        left: 100px;
    }
    88%{
        left: 95px;
    }
    90%{
        left: 100px;
    }
    92%{
        left: 94px;
    }
    94%{
        left: 100px;
    }
    96%{
        left: 94px;
    }
    98%{
        left: 100px;
    }
    100% {
        left: 94px;
        bottom: 0px;
    }
}
@keyframes supermanVolando{
    0%{
        right: -100px;
        bottom: -300px;
    }
    100%{
        right: 900px;
        bottom: 1000px;
    }
} 
